<!DOCTYPE html>
<html data-ng-app="website">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Valentin Aitken - developing web apps</title>
  <meta name="keywords" content="SaaS, IT services, java, android, ruby, rails, javascript, angularjs, ember.js, Valentin Aitken, Валентин Ейткен" />

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <%= stylesheet_link_tag "custom" %>


  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

  <!--<script src="services/submit_contact_form_factory.js"></script>-->

</head>

<body>
<div id="fb-root"></div>
<header>
  <h1>
    NALIS LTD<br><br>
    <br>
    Brings Innovation - Build Software for a better life
  </h1>
</header>
<main ng-view>

</main>
<footer>
  Copyright &copy; 2015
  <div class="social-media-links">
    <!-- Place this tag where you want the button to render. -->
    <div class="g-follow" data-href="https://plus.google.com/117496809870048660807" data-rel="publisher"></div>
    <script type="IN/FollowCompany" data-id="9202360" data-counter="none"></script>
    <div class="fb-follow" data-href="https://www.facebook.com/nalisbg" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
  </div>
</footer>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1463720673863483&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= javascript_include_tag 'bower_deps' %>
<%= javascript_include_tag 'application' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57364649-1', 'auto');
  ga('send', 'pageview');
</script>
</body>

</html>
