<div class="social-media-links">
  <!-- Place this tag where you want the button to render. -->
  <table>
    <tr>
      <td><script type="IN/FollowCompany" data-id="9202360" data-counter="none"></script></td>
      <td rowspan="2">
        <div class="fb-like" data-href="https://www.nalisbg.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="300"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="g-plusone" data-annotation="inline" data-width="220"></div>
      </td>
    </tr>
  </table>
</div>