#about
  We are a small team of three passionate software developers.
  %br
  The company is founded in November 2014.
  %br
  Our aim is to bring quality
  %span{title: 'Software as a Service'} SaaS
  to the growing and demanding software market.
  %br
  / Споделяме еднакви човешки ценности и вярваме че софтуера трябва да служи на хората
  The team is composited between highly educated soul mates so. We believe this is the most optimal configuration so we could be flexible and maximum effective.

  %p
    %h3 Valentin Aitken
    Bachelor in Informatics, SU “St. Kliment Ohridski”, Faculty of Mathematics and Informatics 2013
    %br
    5 years of experience with commercial software
    %br
    A visioner, a highly innovative Software developer with rich experience
    in the software design and the coding process. He worked in different projects including software for the aviation, data analysis and validation;
    built a scrapper tool for parsing and normalization data for a social media, participated in building the rails based social media website.
    %br
    In his free time he likes digging into system administration server setup, build processes and automation. Prefer Redhat based distributions.
  %p
    %h3 Slavka Tsankova
    Student last year in applied mathematics in the Sofia University “St. Kliment Ohridski”. A great professionalist who is able to beat every equation which is on her way.
    %br
    A fresh and ebullient Web developer who loves playing with CSS3 and Ruby
  %p
    %h3 Luchezar Tsanov
    He helps the keep up team spirit at 100%
    %br
    Highly motivated and with big interest in new technologies.
    %br
    He is a Software developer with several years of experience. A part from his experience is developing Agile project management systems, creating e-commerce web sites.
