We are a small team of three passionate software developers.
%br
The company is founded in November 2014.
%br
Our aim is to bring quality
%span{title: 'Software as a Service'} SaaS
to the growing and demanding software market.
%br
/ Споделяме еднакви човешки ценности и вярваме че софтуера трябва да служи на хората
The team is composited between highly educated soul mates so. We believe this is the most optimal configuration so we could be flexible and maximum effective.

%p
  %h3 Valentin Aitken
  Bachelor in Informatics, SU “St. Kliment Ohridski”, Faculty of Mathematics and Informatics 2013
  5 years of experience with commercial software
%p
  %h3 Slavka Tsankova
  Student last year in applicable mathematics. A great professionalist who is able to beat every equation which is on her way.
%p
  %h3 Luchezar Tsanov
  Software developer specialized in creating e-commerce stores.
  He helps the keep up team spirit at 100%
