<form data-ng-submit="submitForm(contactForm)">
  <strong ng-if="status" class="status" ng-class="status_code">{{status.message}}</strong>
  <h1>Submit your request</h1>
  <div class="icons">
    <img class="rotate" id="phone" data-ng-click="phone_active= !phone_active" data-ng-class="{active: phone_active}" />
    <img class="rotate" id="watch" data-ng-click="watch_active= !watch_active" data-ng-class="{active: watch_active}" />
    <img class="rotate-computer" id="computer" data-ng-click="computer_active = !computer_active" data-ng-class="{active: computer_active}" />
  </div>
  <div class="step">
    <div>
      <label for="email_input">Email</label>
      <input data-ng-model="contactForm.email" id="email_input" type="text" class="form-control" data-remove-error-input ng-class="{incorrect: errors.email}" placeholder="Email for contact">
    </div>
    <div class="main-business">
      <label for="main_business_input">Main business</label>
      <textarea cols="50" data-ng-model="contactForm.main_business" id="main_business_input" ng-class="{incorrect: errors.main_business}" data-remove-error-input rows="2" class="form-control"
                placeholder="Write us about your business area"></textarea>
      <!-- placeholder: We own Five Star Cleaning, an eco-friendly housekeeping service that pampers you and your home [what your business does]. -->
    </div>
    <div class="problem">
      <label for="problem_input">Problem you are facing</label>
      <textarea data-ng-model="contactForm.problem" id="problem_input" ng-class="{incorrect: errors.problem}" data-remove-error-input cols="50" rows="3" class="form-control"
                placeholder="What is your typical workflow and what are the challenges you are facing, what do you want to improve?"></textarea>
      <!-- placeholder Typical cleaning services make you prep your home ahead of time, supervise to prevent theft and
                   hang around for hours while the cleaners do their work. Because we require no prep, this saves time right off the top,
                    and we are bonded so our service is worry-free, allowing you to go about your day [what problem does it solve]. And, we always send a minimum team of three to get the job done quickly [how it's different].
                    Imagine coming home from a long day and your laundry is all done, your bed has been turned down and there are fresh flowers awaiting you.
                    That's the extra pampering we offer that sets us apart from all the rest [why you should care] -->
    </div>
  </div>
  <div class="step">
    <!--<h2>Step 2</h2>-->
    <div class="idea">
      <label for="basic_idea_input">Your idea</label>
      <textarea data-ng-model="contactForm.basic_idea" cols="50" rows="5" id="basic_idea_input" ng-class="{incorrect: errors.basic_idea}" data-remove-error-input class="form-control" placeholder=""></textarea>
    </div>
  </div>
  <!--
  <div class="step">
    <div class="field-item">
      Technology preferences
      <textarea cols="50" rows="3" class="form-control" placeholder=""></textarea>
    </div>
  </div>
  -->

  <!--
  <div class="step">
    <h2>Step 3</h2>
    <div class="summary">
      <h2>My Business</h2>
      <p>{{contactForm.client_main_business}}</p>

      <h2>Problem I am facing</h2>
      <p>{{contactForm.client_problem}}</p>

      <h1>My idea</h1>
      <small>Give more hints for the idea</small>
      <p>{{contactForm.basic_idea}}</p>
    </div>
    -->

    <input type="submit" ng-disabled="loading || successful" value="Submit your idea" id="submit_contact_form" class="btn btn-default">
  </div>
</form>
