.contacts.layout#contacts
  %address
    NALIS LTD
    %br
    Work place: Bulgaria, Sofia, 58 Krum Popov

    -#%a{href: 'http://www.betahaus.bg', target: '_blank'}
    -#  Betahaus
  %address
    mobile: (+359) 895 313 220
    %br
    email:
    = link_to 'valentin@nalisbg.com', 'email:valentin@nalisbg.com'
    %br
    skype: valentin.aitken
