.contact-form.layout#contact_form{'data-ng-controller' => 'SubmitContactFormController'}
  %p
    You need an extension to improve your business?
    %br
    Please do not hesitate to contact us. Just fill out the form and we'll get back to you.
  %h1 Contact Us
  %form.contact-form{"data-ng-submit" => "submitForm(contactForm)"}
    %strong.status{"ng-class" => "status_code", "ng-if" => "status"} {{status.message}}
    .step
      = partial 'views/contact_form_app_type'
    .step.contact-boxes
      %div
        %label#email_label{:style => '', :for => "email_input"}
        %input#email_input.form-control{"data-ng-model" => "contactForm.email", "data-remove-error-input" => "", "style" => "display: inline-block",
         "placeholder" => "Email *",  "ng-class" => "{incorrect: errors.email}", :type => "text"}
        -#%label#email_label{:for => "phone_input"}='&nbsp;&nbsp;Phone'.html_safe
        %span
        %input#phone_input.form-control{"data-ng-model" => "contactForm.phone", "data-remove-error-input" => "", "style" => "display: inline-block",
          "placeholder" => "Phone", :type => "text"}
    .step
      .main-business
        %label#main_business_label{:for => "main_business_input"} Company, Department *
        %textarea#main_business_input.form-control{:cols => "50", "data-ng-model" => "contactForm.main_business", "data-remove-error-input" => "", "ng-class" => "{incorrect: errors.main_business}",
          :rows => "2"}
        / placeholder: We own Five Star Cleaning, an eco-friendly housekeeping service that pampers you and your home [what your business does].
      .problem
        %label#problem_label{:for => "problem_input"} Problem you are facing
        %textarea#problem_input.form-control{:cols => "50", "data-ng-model" => "contactForm.problem", "data-remove-error-input" => "", "ng-class" => "{incorrect: errors.problem}",
           :placeholder => "What is your typical workflow?\nWhat are the problems you are facing on daily basis?", :rows => "3"}
        /
          placeholder Typical cleaning services make you prep your home ahead of time, supervise to prevent theft and
          hang around for hours while the cleaners do their work. Because we require no prep, this saves time right off the top,
          and we are bonded so our service is worry-free, allowing you to go about your day [what problem does it solve]. And, we always send a minimum team of three to get the job done quickly [how it's different].
          Imagine coming home from a long day and your laundry is all done, your bed has been turned down and there are fresh flowers awaiting you.
          That's the extra pampering we offer that sets us apart from all the rest [why you should care]
    .step

      / <h2>Step 2</h2>
      .idea
        %label#basic_idea_label{:for => "basic_idea_input"} Your idea *
        %textarea#basic_idea_input.form-control{:cols => "50", "data-ng-model" => "contactForm.basic_idea", "data-remove-error-input" => "", "ng-class" => "{incorrect: errors.basic_idea}",
          :placeholder => "Expand your idea. List the things you want to develop", :rows => "7"}
        - # The icons could blink appear on this step 'contact_form_app_type'

    %input#submit_contact_form.btn.btn-default{"ng-disabled" => "loading || successful", :type => "submit", :value => "Submit"}
