#services
  %div{style: "background-color: rgba(243, 255, 213, 0.75); width: 100%"}
    .layout
      %h1 Services
      %ul
        %li
          We help our clients who need custom solutions to be adopted quickly for their existing infrastructure.
          %br
          For example if you need some extension to your business, consultancy managing and developing existing ERP systems, ERP tools, etc.
        %li
          We like innovative ideas and the new technologies. We are glad helping start-ups to make their product a reality.
        %li
          If you need qualified developer resources, contact us:
          = link_to 'valentin@nalisbg.com', 'valentin@nalisbg.com'
          , (+359) 883 453 696
