.home-page.layout#top_page
  %strong
    Stop searching for people through complicated network of HRs.
    %br
    Instead of building a team from scratch you can
    = link_to 'hire us', 'mailto:valentin@nalisbg.com'
  %br
  %br
  We are a small software development start-up company. We offer SaaS for small businesses.
  %br
  %br
  .description
    We help:
    %ul
      %li
        A companies that want a qualified Team to build quickly a product for their needs.
      %li
        Startup companies who want to build innovative products. It is extremely important for us to work on projects that matter.
  .description
    We deliver:
    %ul
      %li web apps
      %li data scrapping services
      %li mobile apps
      %li system integration
    %br
